/* ПРАВАЯ КОЛОНКА */
.ad-banners {
	/*display: none;*/
	display: flex;
	flex-direction: column;
}
.ad-banners__link {	
	max-width: 220px;
	width: 100%;
	margin-bottom: 20px;
	line-height: 0;
}
.ad-banners__link:last-child {
	margin-bottom: 0px;
}
.ad-banners__img {
	/*display: inline-block;*/
}


@media screen and (max-width: 990px) {
	.ad-banners {
		flex-direction: row;
		margin-top: 20px;
	}
  	.ad-banners__link {
		margin: 0 20px 0 0;
	}
	.ad-banners__link:last-child {
		margin: 0;
	}
	.ad-banners__img {
		display: inline-block;
	}	
}


@media screen and (max-width: 767px) {
	.ad-banners {
		overflow-x: scroll;
	}
	.ad-banners__img {
		min-width: 220px;
	}
}

